.home-page {
  height: 100%;
  width: 100%;

  .title-section {
    text-align: center;
    height: 40vh;
    padding: 6vh 0;
    margin-bottom: 30px;
    font-weight: bold;
    background-color: #333;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: 700px) {
      padding: 10vh 0;
    }


    .title {
      font-size: 80px;

      @media only screen and (max-width: 700px) {
        font-size: 30px;
      }
    }

    .description {
      font-size: 20px;

      @media only screen and (max-width: 700px) {
        font-size: 14px;
      }
    }

    .logo-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 250px;

      & > img {
        height: 50px;
        position: relative;

        &.krpano-logo {
          height: 45px;
        }

        &.npm-logo {
          height: 45px;
        }

        &:after {
          content: "+";
          color: white;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  .shell-group-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .shell-section {
      margin-bottom: 20px;
      width: 320px;
      height: 50px;
      background-color: #333;
      padding: 15px 30px 15px 20px;
      border-radius: 5px;
      color: white;
      font-size: 18px;
    }
  }

  .link-section {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 50px auto 50px;

    & > a {
      padding: 6px 12px;
      border: 3px solid #222;
      border-radius: 5px;
      font-weight: bold;
      color: black;
      text-decoration: none;
    }
  }

  .github-link {
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    background-color: white;
    height: 40px;
    width: 40px;

    & > img {
      height: 90%;
      width: 90%;
      transform: translate(5%, 5%);
    }
  }
}
